.custom-switch .form-check-label {
    font-size: 16px;
}

.custom-switch .form-check-input {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-left: 200px;
    float: none !important;
}

.custom-switch .form-check-input:checked{
    background-color: #24cbc7 !important; /* Màu nền khi switch được chọn */
}

