@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #24cbc7;
    --secondary: #5d586c;
    --toastify-icon-color-success: #23c2bf !important;
    --toastify-color-progress-success: #23c2bf !important;
}

html {
}

body {
    font-family: 'Public Sans', sans-serif !important;
    font-optical-sizing: auto;
}

.custom-rounded {
    border-radius: 15px;
}
.box-color-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: white !important;
}
.text-color-primary {
    color: var(--primary) !important;
    font-weight: bold !important;
}
.text-color {
    color: var(--secondary) !important;
}
.italic {
    font-style: italic !important;
}

.warning {
    font-style: italic !important;
    color: #db4437;
}

.background-primary {
    background-color: #f8f7fa !important;
}
.text-sidebar {
    color: #4b465c !important;
}

/* CSS cho sidebar */
.sidebar-item {
    display: flex;
    align-items: center;
}

.sidebar-item > div {
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-item:hover > div {
    transform: translateX(10px);
    color: var(--primary);
}

.table-responsive {
    border-collapse: collapse;
    border: 1px solid #dbdade;
}
.table {
    margin: 0 !important;
}
.table-border {
    border: none;
}

.table-border td,
.table-border th {
    border: 1px solid #dbdade;
}

.table-border thead th {
    border-bottom: 2px solid #dbdade;
}

.table-border tbody td {
    border-bottom: 1px solid #dbdade;
}

.table-border tbody tr:last-child td {
    border-bottom: none;
}
.rounded-status {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(40, 199, 111, 0.16);
    border-radius: 7px;
}

.rounded-status-text {
    color: #28c76f;
    font-weight: bold;
}

.rounded-status-stop {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(234, 84, 85, 0.16);
    border-radius: 7px;
}

.rounded-status-stop-text {
    color: #ea5455;
    font-weight: bold;
}

.DropdownButtonCSS > button {
    background-color: #23c2bf;
    border: white;
    color: #fff !important;
    font-weight: bold;
}
.DropdownButtonCSS > div {
    position: fixed !important;
}
.DropdownButtonCSS > button:hover {
    background-color: #dadada !important;
    border: white;
    color: #fff !important;
    font-weight: bold;
}
.DropdownButtonCSS > button:active {
    background-color: #23c2bf !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
}
.DropdownButtonCSS > button.show {
    background-color: #23c2bf !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
}

.ButtonCSSDropdown > button {
    background-color: #24cbc7 !important;
    border: white;
    color: white !important;
    font-weight: bold;
}
.ButtonCSSDropdown > div > a:active {
    background-color: #24cbc7 !important;
    border: white;
    color: white !important;
}
.ButtonCSSDropdown > button:hover {
    background-color: #23c2bf !important;
    border: white;
    color: white !important;
    font-weight: bold;
}
.ButtonCSS {
    background-color: #24cbc7 !important;
    border: white !important;
    color: white !important;
    font-weight: bold !important;
}
.ButtonCSS:hover {
    background-color: #1faaa8 !important;

    color: white !important;
    font-weight: bold;
}
.inputCSS:focus {
    box-shadow: none !important;
    border: #23c2bf 1px solid !important;
}

.actionButtonCSS {
    color: black;
    padding: 5px;
    transition: 0.2s cubic-bezier(0.1, 0, 0.2, 1);
    border-radius: 5px;
}
.actionButtonCSS:hover {
    background-color: rgba(36, 203, 199, 0.5);
}

.edit-product-form {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    color: #2b2b2b !important;
}

.edit-product-form h4 {
    margin-bottom: 20px;
}

.edit-product-form .image-section {
    display: flex;

    flex-direction: row;
}

.edit-product-form .image-section i {
    margin-right: 10px;
    font-size: 5rem;
}

.edit-product-form .description {
    margin-bottom: 20px;
}

.edit-product-form .row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.edit-product-form .form-group {
    margin-bottom: 20px;
}

.toast-success {
    color: black !important;
}

.page-item.active .page-link {
    color: white !important;
    background-color: #23c2bf !important;
    border: #23c2bf 1px solid !important;
    box-shadow: none !important;
}
.page-item {
    background-color: white !important;
    box-shadow: none !important;
}

.page-item .page-link {
    color: #23c2bf !important;
    box-shadow: none !important;
}
ul.pagination li.page-item.disabled a.page-link {
    color: gray !important;
    background-color: white;
}
.text-color-primary {
    color: #2b2b2b !important;
}

.table th,
.table td {
    color: #2b2b2b;
}

.custom-switch > input {
    border-color: #24cbc7 !important;
}
