@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #24cbc7;
}

html {
}

body {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
}

.custom-rounded {
    border-radius: 15px;
}
.color-primary {
    background-color: #24cbc7 !important;
    border-color: #24cbc7 !important;
    color: white !important;
}
.italic {
    font-style: italic !important;
}

.warning {
    font-style: italic !important;
    color: #db4437;
}

.background-primary {
    background-color: #f8f7fa !important;
}
.text-sidebar {
    color: #4b465c !important;
}

/* CSS cho sidebar */
.sidebar-item {
    display: flex;
    align-items: center;
}

.sidebar-item > div {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-item:hover > div {
    transform: translateX(10px);
}
